<hr class="dropdown-divider" />

<div class="dropdown-item">
  <div class="field">
    <label class="label is-small">Prefix</label>
    <div class="field has-addons">
      <p class="control is-expanded">
        <%= text_field_tag "property[prefix]", property.prefix, class: "input is-small" %>
      </p>
      <p class="control">
        <a class="button is-static is-small">
          -123
        </a>
      </p>
    </div>
  </div>
</div>