<hr class="dropdown-divider" />

<template data-nested-form-target="template">
  <div class="field nested-form-wrapper">
    <div class="control is-expanded">
      <%= text_field_tag "property[options_attributes][NEW_RECORD][value]", "", class: "input is-small" %>
    </div>
  </div>
</template>

<div class="dropdown-item" style="max-height: 200px; overflow: scroll;">
  <label class="label is-small">Options</label>
    <% property.existing_or_potential_options.each_with_index do |option, index| %>
      <div class="field nested-form-wrapper">
        <div class="control is-expanded">
          <%= text_field_tag "property[options_attributes][#{index}][value]", option.value, class: "input is-small" %>
          <%= hidden_field_tag "property[options_attributes][#{index}][id]", option.id %>
        </div>
      </div>
    <% end %>

  <div data-nested-form-target="target"></div>

  <button class="button is-small is-info" type="button" data-action="nested-form#add">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
  </button>
</div>