<p id="filter-input" class="control is-expanded">
  <input 
    class="input" 
    type="text" 
    placeholder="Enter value" 
    data-model-filter-target="valueInput" 
    data-action="keydown.enter->model-filter#addFilter"
    disabled>
</p>