<turbo-frame id="service-select">
  <div class="select is-fullwidth">
    <%= select "ebay_business_policy", "service_code", 
        @services.empty? ? [["No services available", ""]] : 
                          [["Select shipping service...", ""]] + @services.map { |s| ["#{s[:label]} (#{s[:carrier]})", s[:value]] },
        { selected: @selected_service },
        { disabled: @services.empty? } %>
  </div>
</turbo-frame>