<div data-controller="table clickable" class="is-flex is-flex-direction-column is-flex-grow-1">
  <div class="table-container" data-controller="record-attribute" style="height: 100%; overflow-x: auto;">
    <table class="table is-hoverable is-narrow mb-2" style="min-width: 100%;">
      <thead>
        <tr data-controller="column-position">
          <% all_columns.each do |column| %>
            <th style="white-space: nowrap;"><%= column.to_s.humanize.titleize %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% resources.each do |resource| %>
          <tr class="is-clickable" data-url="<%= resource_url(resource) %>">
            <% all_columns.each do |column| %>
              <td style="white-space: nowrap;">
                <%= column_value(resource, column) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>