<tr class="is-clickable" data-url="<%= edit_polymorphic_path([current_account, resource]) %>" >
  <% resource.class::TABLE_COLUMNS.each do |attribute| %>
    <td>
      <% if attribute.to_s.ends_with?('_id') %>
        <%= resource.send(attribute.sub('_id', '')).try(:name) || resource.send(attribute.sub('_id', '')).try(:title) || resource.send(attribute) %>
      <% else %>
        <%= resource.send(attribute) %>
      <% end %>
    </td>
  <% end %>
</tr>