<div class="table-container" data-controller="table" data-table-table-id-value="<%= @table.id %>">
  <table class="table is-hoverable is-narrow mb-2">
    <thead>
      <%= render "tables/headers", table: @table %>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <%= render "tables/row", item:, table: @table %>
      <% end %>
      <tr id="new-item-row">
    </tbody>
  </table>

  <% if @table.properties.any? %>
    <%= button_to account_table_items_path(current_account, @table), data: { turbo_method: :post } do %>
      <span class="icon-text">
        <span class="icon is-clickable">
          <i class="fas fa-plus"></i>
        </span>
        <span>Add Item</span>
      </span>
    <% end %>
  <% else %>
    <div class="notification is-warning">
      <strong>A table must have at least one property column.</strong> Please add a property to enable adding records.
    </div>
  <% end %>
</div>