<h1 class="title">Variants</h1>

<div class="level">
  <div class="level-left">
  </div>

  <div class="level-right">
    <div class="level-item">
      <%= link_to new_account_variant_path(current_account), class: "button" do %>
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New Variant</span>
        </span>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "variants", class: "is-flex is-flex-direction-column is-flex-grow-1" do %>
  <%= render "components/model_table/model_table", klass: Variant, resources: @variants %>
<% end %>