<div class="field is-grouped">
  <div class="control">
    <%= form.submit class: "button is-primary" %>
  </div>
  <div class="control">
    <%= link_to 'Cancel', account_products_path(current_account), class: "button is-light", data: { turbo_frame: "_top" } %>
  </div>
</div> 