<div class="notification is-light">
  <h3 class="title is-size-5">Product Options</h3>
  <p>Select an eBay category above to automatically generate required product options based on eBay's requirements, or save the product first to add custom options.</p>
</div>