<section class="section is-flex is-flex-direction-column" style="height: 100%">
  <div class="container is-max-tablet">
    
    <h1 class="title">Edit Location</h1>

    <%= render "locations/form", location: @location %>
  </div>
</section>
