<h1 class="title">Locations</h1>

<div class="field is-grouped is-grouped-right">
  <p class="control">
    <%= link_to new_account_location_path(current_account), class: "button is-fullwidth-mobile" do %>
      <span class="icon-text">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>New Location</span>
      </span>
    <% end %>
  </p>
</div>

<%= turbo_frame_tag "locations", class: "is-flex is-flex-direction-column is-flex-grow-1" do %>
  <%= render TableGridComponent.new(resources: @locations, current_account: current_account) %>
<% end %>
