<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item is-size-4 has-text-weight-bold" style="width: 80px;" href="/">
      <img src="/icon.png" alt="Logo" style="height: 100%; object-fit: cover; object-position: center; ">
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Marketplace", marketplace_path, class:"navbar-item" %>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        Dealer page
      </a>

      <div class="navbar-item has-dropdown" data-controller="dropdown" data-dropdown-target="dropdown">
        <div class="navbar-link" data-action="click->dropdown#toggle">Account</div>
        <div class="navbar-dropdown is-boxed is-active">
          <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-item" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "navbar-item", style: "width: 100%;" %>
        </div>
      </div>
    </div>
  </div>
</nav>