<%= render layout: "layouts/application" do %>
  <div class="hero">
    <div class="hero-body">
      <div class="container is-max-tablet">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>